# Don't include raw data or results
*.csv
xlsx/
results/

# Don't include plots
figures/
plots/

# Don't include R stuff
.RData
*.RProg
.Rprog.user/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Swap files
.*.swp
